<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一覧取得（findAll） -->
<mapper namespace="com.example.blog.repository.BlogMapper">
	<select id="findAll" resultType="com.example.blog.entity.Blog">
		SELECT id, title, content,
		created_at, updated_at, deleted_at
		FROM blogs
		WHERE deleted_at IS NULL
		ORDER BY id DESC
	</select>


	<!-- ID指定で取得（findById） -->
	<select id="findById" parameterType="int"
		resultType="com.example.blog.entity.Blog">
		SELECT id, title, content, created_at, updated_at,
		deleted_at
		FROM blogs
		WHERE id = #{id} AND deleted_at IS NULL

	</select>

	<!-- 新規登録（save） -->
	<insert id="save" parameterType="com.example.blog.entity.Blog"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO blogs(title, content,
		created_at, updated_at)
		VALUES (#{title}, #{content},
		CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	</insert>


	<!-- 更新（update） -->
	<update id="update" parameterType="com.example.blog.entity.Blog">
		UPDATE blogs
		SET title =
		#{title}, content = #{content}, updated_at =
		CURRENT_TIMESTAMP
		WHERE id
		= #{id} AND deleted_at IS NULL

	</update>



	<!-- 削除（delete） -->
	<update id="delete" parameterType="int">
		UPDATE blogs
		SET deleted_at =
		CURRENT_TIMESTAMP
		WHERE id = #{id}
	</update>


</mapper>
  